*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    height: 100%;
}

.main-block{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    width: 20%;
    margin: 0 auto;
}
.chat{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    width: 40%;
    margin: 0 auto;
}

.btn{
    margin-top: 10px;
}


.chat-window{
    height: 300px;
    width: 100%;
    border: 1px solid black;
}